# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include LICENSE

# Including
# Python source files, test/*.py will be automatically included.
recursive-include polichart *.py
# Templates
recursive-include polichart/templates *
# Static files
recursive-include polichart/static *
# Translations
recursive-include polichart/translations *

# Excluding
recursive-exclude polichart *.pyc
recursive-exclude tests *.pyc
