Babel==2.2.0
backports.ssl-match-hostname==3.4.0.2
blinker==1.4
certifi==14.5.14
cffi==1.1.2
configobj==5.0.6
cryptography==0.9.3
cssselect==0.9.1
Cython==0.23.4
decorator==4.0.4
EasyProcess==0.1.9
ecdsa==0.13
entrypoint2==0.0.6
enum34==1.0.4
Fabric==1.10.2
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gevent==1.0.2
google-api-python-client==1.4.1
greenlet==0.4.9
hallie==0.1.1
httplib2==0.9.1
idna==2.0
ipaddress==1.0.13
itsdangerous==0.24
Jinja2==2.8
lxml==3.4.4
MarkupSafe==0.23
Mopidy==1.0.0
Mopidy-Moped==0.4.4
Mopidy-Mopify==1.3.2
oauth2client==1.4.12
paramiko==1.16.0
path.py==8.1.2
Pollster==0.1.2
praw==3.1.0
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
Pykka==1.2.0
pyOpenSSL==0.15.1
pytz==2015.7
pyunpack==0.0.3
queuelib==1.2.2
requests==2.7.0
Scrapy==1.0.1
selenium==2.50.1
six==1.9.0
speaklater==1.3
SQLAlchemy==1.0.12
tornado==4.1
Twisted==15.2.1
update-checker==0.11
vboxapi==1.0
virtualenv==15.0.1
w3lib==1.11.0
Werkzeug==0.11.4
zope.interface==4.1.2
